<!DOCTYPE html>
<html class="fonts-loaded" lang="{{ craft.app.language |slice(0,2) }}">
<head>
    <title>Craft Starter Vite</title>

    {# -- Critical CSS -- #}
    {#
    # Use Nginx Server Sider Includes (SSI) to render different HTML depending on
    # the value in the `critical-css` cookie. ref: http://nginx.org/en/docs/http/ngx_http_ssi_module.html
    #}
    {% set cssHash = craft.vite.getCssHash("src/js/app.ts") %}
    {#
    # If the `critical-css` cookie is set, the client already has the CSS file download,
    # so don't include the critical CSS, and load the full stylesheet(s) synchronously
    #}
    <!--# if expr="$HTTP_COOKIE=/critical\-css\={{ cssHash }}/" -->
    {{ craft.vite.script("src/js/app.ts", false) }}
    <!--# else -->
    {#
    # If the cookie is not set, set the cookie, then include the critical CSS for this page,
    # and load the full stylesheet(s) asychronously
    #}

    {{ craft.vite.script("src/js/app.ts", true) }}
    {#<!--# endif -->#}
    {# -- Favicons, webapp manifests, etc. -- #}
    {{ craft.vite.inline("@webroot/dist/assets/favicons/webapp.html") }}
</head>
<body>
    <h1>Craft Starter Vite</h1>
</body>
</html>





